# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token

# Blockchain
BLOCKCHAIN_PROVIDER=your_blockchain_provider_url

# Wallet
WALLET_ADDRESS=your_wallet_address
WALLET_PRIVATE_KEY=your_wallet_private_key

# Token Contracts
USDT_ERC20_CONTRACT=your_usdt_erc20_contract_address  # e.g., 0xdac17f958d2ee523a2206206994597c13d831ec7
USDT_TRC20_CONTRACT=your_usdt_trc20_contract_address  # e.g., TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
USDC_ERC20_CONTRACT=your_usdc_erc20_contract_address  # e.g., 0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
USDC_TRC20_CONTRACT=your_usdc_trc20_contract_address  # e.g., TEkxiTehnzSmSe2XqrBj4w32RUN966rdz8
ETH_CONTRACT=your_eth_contract_address
BTC_CONTRACT=your_btc_contract_address

# Paystack API Keys
PAYSTACK_SECRET_KEY=your_paystack_secret_key  # Get from Paystack Dashboard
PAYSTACK_PUBLIC_KEY=your_paystack_public_key  # Get from Paystack Dashboard 